
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My BlooG</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Gloria+Hallelujah|Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Courgette|Dancing+Script|Gloria+Hallelujah|Pacifico" rel="stylesheet">
    <link href="~/Content/jquery.toast.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <section class="cover">
        <div class="container">     
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Brand</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">My Github</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="#">About me </a></li>
                                <li><a href="#">My Skills</a></li>
                                <li><a href="#">Contact</a></li>

                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
        </div>

        <div class="container text-center">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <h1 class="title" style="display: none;">WECLOME to MY BLOG <small>of Karim</small> </h1>
                </div>
            </div>
        </div>
    </section>


<div class="container mybio">
    <div class="row text-center">
        <h1 class="who">Who i am ?! </h1>
        <hr/>
        <div class="col-md-6" style="text-align: center;">
            <p class="bio"><b>Name:</b></p>
            <p class="bio"><b>Date of Birth:</b></p>
            <p class="bio"><b>City / Country:</b></p>
            <p class="bio"><b>Current State :</b></p>
            <p class="bio"><b>Major:</b></p>
            <p class="bio"><b>Email:</b></p>
            <p class="bio"><b>Phone:</b></p>
            <p class="bio"><b>Skype:</b></p>

        </div>
        <div class="col-md-6" style="text-align: left;">
            <p class="bio">Karim Ashraf Abdelaziz Kourany</p>
            <p class="bio">25/10/1996</p>
            <p class="bio">El Menia /Egypt</p>
            <p class="bio">Toluca / Mexico</p>
            <p class="bio">Computer Science & Systems Engineering</p>
            <p class="bio">K.ashrf911@gmail.com</p>
            <p class="bio">+5217223060533</p>
            <p class="bio">kareem.ashrf32</p>
        </div>
    </div>
</div>
    
<div class="container secBio">
    <div class="row text-center">
        <h1 class="skills">Professional Skills </h1>
        <div class="col-md-6" style="text-align: center;">
            <p class="bio"><b>HTML</b></p>
            <p class="bio"><b>CSS</b></p>
            <p class="bio"><b>JS</b></p>
            <p class="bio"><b>Bootstrap</b></p>
            <p class="bio"><b>Jquery</b></p>
            <p class="bio"><b>Ajax</b></p>
            <p class="bio"><b>Angular</b></p>
            <p class="bio"><b>C#</b></p>
            <p class="bio"><b>ASP.NET (MVC)</b></p>
            <p class="bio"><b>SQL</b></p>
            <p class="bio"><b>JSON</b></p>
            <p class="bio"><b>PHP</b></p>
            <p class="bio"><b>Laravel</b></p>
            <p class="bio"><b>MYSQL</b></p>
            <p class="bio"><b>JAVA</b></p>
            <p class="bio"><b>WORDPRESS</b></p>
                

        </div>
        <div class="col-md-4" style="text-align: left;">
            <p class="bio">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        100%
                    </div>
                </div>
            </p>
            <p class="bio">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0" aria-valuemax="100" style="width:90%">
                        90%
                    </div>
                </div>
            </p>
            <p class="bio">
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0" aria-valuemax="100" style="width:90%">
                        90%
                    </div>
                </div>
            </p>
            <p class="bio">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100"
                         aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        100%
                    </div>
                </div>
            </p>
            <p class="bio">
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0" aria-valuemax="100" style="width:90%">
                        90%
                    </div>
                </div>
            </p>
            <p class="bio">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0" aria-valuemax="100" style="width:80%">
                        80%
                    </div>
                </div>
            </p>
            <p class="bio">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        60%
                    </div>
                </div>
            </p>
            <p class="bio">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70%
                    </div>
                </div>
            </p>
            <p class="bio">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0" aria-valuemax="100" style="width:80%">
                        80%
                    </div>
                </div>
            </p>
            <p class="bio">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0" aria-valuemax="100" style="width:90%">
                        90%
                    </div>
                </div>
            </p>
            <p class="bio">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"
                         aria-valuemin="0" aria-valuemax="100" style="width:80%">
                        80%
                    </div>
                </div>
            </p>
            <p class="bio">
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70"
                         aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70%
                    </div>
                </div>
            </p>
            <p class="bio">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0" aria-valuemax="100" style="width:90%">
                        90%
                    </div>
                </div>
            </p>
            <p class="bio">
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90"
                         aria-valuemin="0" aria-valuemax="100" style="width:90%">
                        90%
                    </div>
                </div>
            </p>
            <p class="bio">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60"
                         aria-valuemin="0" aria-valuemax="100" style="width:60%">
                        60%
                    </div>
                </div>
            </p>
            <p class="bio">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="50"
                         aria-valuemin="0" aria-valuemax="100" style="width:50%">
                        50%
                    </div>
                </div>
            </p>
        </div>
    </div>
</div>
    
<div class="container-fluid exp">
    <div class="container">
        <div class="row text-center">
            <h1 class="who">Contact me</h1>
            <div class="col-md-12 ">
                <form method="post" id="myForm">
                    <div class="form-group">
                        <label for="name">Your Name</label>
                        <input class="form-control" type="text" name="name" placeholder="Enter your name" id="name" required=""/>
                    </div>
                    <div class="form-group">
                        <label for="name">Your Name</label>
                        <textarea rows="5" cols="8" name="message" placeholder="Enter your message" class="form-control" required=""></textarea>
                    </div>
                </form>
                <input type="submit" value="Submit" class="btn btn-primary btn-lg" id="btnSubmit" />
            </div>
      
        </div>
    </div>


</div>
    
    
    <footer align="center" class="footer">&copy; Made by Kemo000ooo </footer>

<script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/scripts/jquery.toast.min.js"></script>
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/myScript.js"></script>
</body>
</html> 
